
:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%)
}

body {
    margin: 0;
    background-color: var(--Light-gray);
}

*, *::before, *::after {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}

.flex-items {
    background-color: var(--White);
    width: 400px;
    text-align: center;
    padding: 1.5rem 0;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
   
}



.flex-items h2 {
    color: var(--Dark-blue);
    font-size: 30px;
}

.flex-items p {
    color: var(--Grayish-blue);
    font-size: 15px;
    font-weight: 400;
    
}


.flex-items img {
    width: 350px;
    border-radius: 1rem;
}

@media (max-width: 394px) {
    .flex-container {
        padding: 1rem;
    }

    .flex-items {
        width: 100%;
    }

    .flex-items img {
        width: 90%;
    }

    .flex-items h2 {
        font-size: 1.5rem;
    }

}
